.nav {
    position: relative;
    width: 100vw;
    height: 70px;
    z-index: 1;
  
    ul {
      padding-top: 20px;
      display: flex;
      list-style-type: none;
  
      li {
        a {
          margin-right: 15px;
          padding: 20px;
        }
      }
    }
}
  
.content {
    height: 80vh;
}

.footer {
    display: flex;
    flex: 1;
    border-top: 1px solid #eaeaea;

    justify-content: center;
    align-items: center;

    top: 0;

    padding: 2rem 0;

    .footer a {
      display: flex;

      justify-content: center;
      align-items: center;

      flex-grow: 1;
    }
}
  
  
// .footer {
//     position: relative;
//     width: 100vw;
//     height: 70px;
//     background-color: lightcoral;
//     z-index: 1;
// }