

.nav {
  position: relative;
  height: 60px;
  z-index: 2;
  
    ul {
      padding-top: 20px;
      display: flex;
      list-style-type: none;
  
      li {
        padding: 5px 20px;
        
        a{
          background-color: #ffffff;
          padding: 10px;
        }
      }
    }
}
  
.content {
  margin: auto 0;
  height: calc(100vh - 220px);
}